[Desktop Entry]
Name=Frigicom
Comment=Logos chat client written in Rust
Type=Application
Keywords=Logos;IM;Chat;
Categories=Network;InstantMessaging;
Exec=frigicom %U
Icon=org.squidowl.halloy
StartupWMClass=org.logos.frigicom
MimeType=x-scheme-handler/frigicom;x-scheme-handler/halloy;
Terminal=false
